{%extends "base.html" %}
{%block title%}
<h1>View Student</h1>
{%endblock%}

{%block content%}
<h2>Student Detail</h2>
<table width="1000px" border="1" class="w-full text-left shadow-lg rounded-lg mt-5">
    <tr class="bg-gray-500 text-white">
        <td class="px-6 py-4">Student ID</td>
        <td class="px-6 py-4">Name</td>
        <td class="px-6 py-4">Email</td>
        <td class="px-6 py-4">Tutor ID</td>
    </tr>
    <tr class="divide-y divide-gray-200">
        <td class="px-6 py-4">{{student[0]}}</td>
        <td class="px-6 py-4">{{student[1]}}</td>
        <td class="px-6 py-4">{{student[2]}}</td>
        <td class="px-6 py-4">{{student[3]}}</td>
    </tr>
</table>
{% endblock %}