<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body class="mx-10">
    <div class="text-3xl font-bold text-gray-900 my-7">
      {% block title %}
      <h1>Student Management Website</h1>
      {% endblock %}
    </div>
    <p>Function</p>
    <div class="my-2 flex">
      {% block content %}
      <button class="">List All Students</button>
      <button>View a student</button>
      <button>Add a student</button>
      <button>Edit a student</button>
      <button>Delete a student</button>
      <button>Search</button>
      {% endblock %}
    </div>
  </body>
</html>
